<header>
    <div class="menu">
      <div class="logo">

        <a href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
        <object type="image/svg+xml" data="{{ site.blog.logo_path | relative_url }}" class="logosvg">Your browser does not support svg images</object>
      </div>

        <ul>
            <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
            <li><a href="{{ '/archive' | prepend: site.baseurl }}">archive</a></li>
        </ul>
    </div>
    <div class="social">
      <ul>

        <li>
          <a href="https://minetest.net/" target="_blank" class="smaller">
            <img src="../../assets/img/minetesticon.svg" width="24" height="24">
          </a>
        </li>

        <li>
          <a href="https://forum.minetest.net/" target="_blank" class="smaller">
            <img src="../../assets/img/forum-svgrepo-com.svg" width="24" height="24">
          </a>
        </li>

        <li>
          <a href="https://discord.gg/H8xsUFnneW" target="_blank" class="smaller">
            <img src="../../assets/img/icons8-discord.svg" width="24" height="24">
          </a>
        </li>

        <li>
            <a href="https://matrix.to/#/#minetest-general:tchncs.de" target="_blank" class="smaller">
              <img src="../../assets/img/icons8-matrix.svg" width="24" height="24">
            </a>
        </li>

        <li>
          <a href="https://github.com/minetest/" target="_blank" class="smaller">
            <img src="../../assets/img/icons8-github.svg" width="24" height="24">
          </a>
        </li>

        <li>
          <a href="https://gitlab.com/minetest" target="_blank" class="smaller">
            <img src="../../assets/img/icons8-gitlab.svg" width="24" height="24">
          </a>
        </li>

        <li>
          <a href="https://gitlab.com/minetest" target="_blank" class="smaller">
            <img src="../../assets/img/icons8-gitlab.svg" width="24" height="24">
          </a>
        </li>

        {% if site.author.rss == true %}
        <li>
            <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank"> 
              <img src="../../assets/img/rss-svgrepo-com.svg" width="24" height="24">
            </a>
        </li>
        {% endif %}

        {% if site.author.mail %}
        <li>
            <a href="mailto:{{ site.author.mail }}" target="_blank">
              <img src="../../assets/img/mail-svgrepo-com.svg" width="24" height="24">
            </a>
        </li>
        {% endif %}


        <li>
            <a href="#" onclick="switchTheme()" title="Switch theme?">
              <span class="icon-invert_colors" id="theme-switcher"></span>
            </a>
        </li>
      </ul>
    </div>
</header>
